.row
    if docCards
        each cardData in docCards
            .col-lg-6.my-2
                .card
                    .card-body
                        h5.card-title #{cardData.name}
                        p.card-text #{cardData.description}
                        a.btn.btn-primary(href=`open/${cardData.roomId}`) Buka
    else 
        h6.py-3 Anda tidak memiliki dokumen